<p>Hello!</p>

<p>Your task is to build two components:</p>

<p>1) a <a [routerLink]="['/company-list']">list of the companies</a> (in a table form) from companies.json (move the companies.json file wherever you need to in order to load it in the component).  </p>

<img src="assets/companies-list.png" width="800px">
<p>
provide the user a way to filter the list (can just be a simple search bar). e.g. if the users types "four" only companies that match "four" should appear in the list.  
</p>

<img src="assets/companies-filtered.png" width="800px">


<p>
Each row should have a clickable link that goes to a second component:</p>




<p>2) a "detail" view that shows the company details from a given row.</p>
<img src="assets/details.png" width="800px">

